.search-container {
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border: 2px solid #303030;
    border-radius: 20px;
    outline: none;
    transition: border-bottom-color 0.3s;
  }
  
  #search-input:focus {
    border-bottom-color: #555;
  }
  
  #search-results {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    max-height: 200px;
    overflow: auto;
    padding: 10px;
    background-color: #ffffff;
    
    display: none;
    z-index: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }
  
  #search-results ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #search-results li {
    padding: 5px;
    cursor: pointer;
    color: #333333;
  }
  
  #search-results li:hover {
    background-color: #969696;
    color: #000000;
    border: 1px solid white;
    border-radius: 20px;
  }
  
  body {
    background-color: #8b8b8bcc;
  }
  
  #result-container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
  
  .result-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 3px;
  }
  
  .result-item span {
    flex-grow: 1;
  }
  
  .remove-button {
    margin-left: 10px;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #999999;
    cursor: pointer;
  }
  
  .remove-button:hover {
    color: #ff0000;
  }
  
  #search-heading {
    text-align: center;
    color: #333333;
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
  }
  
  #Selected-items{
    text-align: center;
    color: #333333;
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
  }


  #button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #submitbutton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  #submitbutton:hover {
    background-color: #45a049;
  }

  .poNumber{
    padding: 5px;
    border: 2px solid rgb(143, 143, 143);
    max-width: 150px;
  }

  .quant{
    margin-left: 10px;
    padding: 5px;
    border: 2px solid rgb(143, 143, 143);
    max-width: 50px;
  }
  
  

  